.bg-prim {
    background-color: var(--prim);
}
.bg-sec {
    background-color: var(--sec);
}
.bg-tert {
    background-color: var(--tert);
}


.btn-tert {
    background-color: var(--tert);
    color: black;
}