.bg-prim {
    background-color: var(--prim);
}
.bg-sec {
    background-color: var(--sec);
}
.bg-tert {
    background-color: var(--tert);
}
.bg-delete {
    background-color: var(--delete);
}


.btn-tert {
    background-color: var(--tert);
    color: black;
}
.btn-positive {
    background-color: var(--create);
    color: black;
}