:root {
    --prim: #d4dfef;
    --sec: #6792b5;
    --tert: #faa370;
    
    --weak: #777777;

    --neutral: #7f7f7f;
    --delete: #ff8989;
    --delete-dark: #9b4b4b;
    --edit: #ffc000;
    --create: #1f8f51;

    --role-badge: #faa270;
}