
input[type="text"],
input[type="mail"],
input[type="password"] {
    outline: none;
    border: 2px solid var(--tert);
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    transition: all .3s ease;
}
input[type="text"].focus_or_filled,
input[type="mail"].focus_or_filled,
input[type="password"].focus_or_filled {
    background-color: var(--sec);
}


.dashboard_card {
    width: 95%;
    height: 80px;
    position: sticky;
    top: 20px;
    margin-bottom: 20px;
}
.dashboard_card h5 {
    font-size: 14px;
}
.dashboard_card button {
    font-size: 12px;
    font-family: "Raleway Reg 400";
}